:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  background-color: #F6F6F6;
}

.title {
  font-weight: 700;
  font-size: 24px;
  padding: 0 0 20px 0;
}

.loading-block {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s ease-out 0s 1 both loading-block_display;
  -webkit-animation: 3s ease-out 0s 1 both loading-block_display;
}
.loading-block__container {
  width: 100%;
  position: relative;
}
.loading-block__container__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 3em;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  width: 100%;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.loading-block__container__mask {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), white 10%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 20%;
  animation: 3s ease-out 0s 1 both loading_textgradient;
  -webkit-animation: 3s ease-out 0s 1 both loading_textgradient;
}

@-webkit-keyframes loading-block_display {
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}
@keyframes loading-block_display {
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}
@-webkit-keyframes loading_textgradient {
  0% {
    left: 20%;
  }
  100% {
    left: 100%;
  }
}
@keyframes loading_textgradient {
  0% {
    left: 20%;
  }
  100% {
    left: 100%;
  }
}
.headband__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  align-content: center;
  gap: unset;
  height: min(15dvw, 10dvh);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.headband__top__return {
  position: absolute;
  left: 24px;
  font-size: clamp(18px, 3dvw, 20px);
}
.headband__top__logo {
  width: 197px;
}
.headband__search-location {
  display: flex;
  flex-direction: unset;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  align-content: center;
  gap: 17px;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.headband__search-location--inactive {
  display: none;
}
.headband__search-location__text {
  border: 0;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  field-sizing: content;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: center;
  flex-wrap: unset;
  align-content: center;
  gap: 16px;
  background-color: #353535;
  padding: 22px 25px;
}
.contact__logo {
  filter: brightness(100);
  width: 100px;
}
.contact__links {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: center;
  flex-wrap: unset;
  align-content: center;
  gap: 7px;
  color: white;
  font-weight: 500;
}
.contact__links__link__icon {
  width: 22px;
  font-size: 13px;
}

@media (width > 800px) {
  .contact {
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
    height: 114px;
  }
  .contact__logo {
    height: 27px;
    padding: 0 36px;
  }
  .contact__links {
    flex-direction: row;
    gap: 16px;
  }
  .contact__links__link--more-padding {
    padding-right: 16px;
  }
}
.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  align-content: center;
  gap: 16px;
  padding: 50px 0;
}
.explore__title {
  padding: 0;
  text-align: center;
  font-size: clamp(24px, 4dvw, 30px);
}
.explore__text {
  padding: 0 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
.explore__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 218px;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  margin-top: 8px;
  cursor: pointer;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  filter: brightness(100%);
  transition: filter 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.explore__link:hover, .explore__link:focus-visible {
  filter: brightness(115%);
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.info {
  background-color: white;
  padding: 50px 0;
}
.info__list {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
  flex-wrap: unset;
  align-content: center;
  gap: 17px;
  width: 100%;
}
.info__list__elem {
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
}
.info__list__elem__text {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  left: -12px;
  padding: 27px 0;
  font-weight: 500;
}
.info__list__elem__text__number {
  display: flex;
  flex-direction: unset;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  align-content: center;
  gap: unset;
  background-color: #9356DC;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.section__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 4%;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.restaurants {
  padding: 50px 0;
  width: 100%;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  align-content: center;
  gap: 18px;
  width: 100%;
}

.restaurants-card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
  animation: blink-opacity 0.5s ease-in-out;
}
.restaurants-card__img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
  aspect-ratio: 16/9;
  object-fit: cover;
  max-height: 250px;
}
.restaurants-card__isnew {
  position: absolute;
  width: 80px;
  height: 29px;
  top: 16px;
  right: 16px;
  text-align: center;
  align-content: center;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.restaurants-card__text {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 13px 25px 13px 13px;
}
.restaurants-card__text__name {
  font-weight: 700;
  font-size: 17px;
  height: 20px;
}
.restaurants-card__text__loc {
  grid-row: 2;
  font-size: 17px;
  font-weight: 300;
  height: 24px;
}
.restaurants-card__text__event-checkbox {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
}
.restaurants-card__text__event-checkbox + .restaurants-card__text__fav {
  animation: 300ms ease-out 0s 1 both checked-fav;
  -webkit-animation: 300ms ease-out 0s 1 both checked-fav;
}
.restaurants-card__text__event-checkbox:checked + .restaurants-card__text__fav {
  animation: 300ms ease-out 0s 1 both unchecked-fav;
  -webkit-animation: 300ms ease-out 0s 1 both unchecked-fav;
}
@-webkit-keyframes checked-fav {
  0% {
    font-weight: 700;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  100% {
    font-weight: 300;
    background: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    -moz-background-clip: unset;
    -moz-text-fill-color: unset;
  }
}
@-webkit-keyframes unchecked-fav {
  0% {
    font-weight: 300;
    background: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    -moz-background-clip: unset;
    -moz-text-fill-color: unset;
  }
  100% {
    font-weight: 700;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
@keyframes checked-fav {
  0% {
    font-weight: 700;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  100% {
    font-weight: 300;
    background: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    -moz-background-clip: unset;
    -moz-text-fill-color: unset;
  }
}
@keyframes unchecked-fav {
  0% {
    font-weight: 300;
    background: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    -moz-background-clip: unset;
    -moz-text-fill-color: unset;
  }
  100% {
    font-weight: 700;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
.restaurants-card__text__event-receptor {
  position: absolute;
  height: 22px;
  width: 22px;
  right: 0;
  cursor: pointer;
}
.restaurants-card__text__fav {
  position: relative;
  grid-row: 1/3;
  grid-column: 2;
  font-size: 22px;
  text-align: right;
  padding-top: 4px;
}

@media (width < 800px) {
  @-webkit-keyframes blink-opacity-mobile {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes blink-opacity-mobile {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .info__list__elem {
    animation: blink-opacity-mobile 0.5s ease-in-out;
  }
  .restaurants-card {
    animation: blink-opacity-mobile 0.5s ease-in-out;
  }
}
@media (width > 800px) {
  @-webkit-keyframes blink-opacity {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes blink-opacity {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .info__list {
    flex-direction: row;
    gap: 40px;
    width: 100%;
  }
  .info__list__elem {
    width: 100%;
    animation: blink-opacity 0.5s ease-in-out;
  }
  .info__list__elem__text {
    padding: 24px 0;
  }
  .restaurants__cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 5dvw 10dvw;
  }
  .restaurants-card {
    animation: blink-opacity 0.5s ease-in-out;
  }
  .contact {
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
    height: 114px;
  }
  .contact__logo {
    height: 27px;
    padding: 0 36px;
  }
  .contact__links {
    flex-direction: row;
    gap: 16px;
  }
  .contact__links__link--more-padding {
    padding-right: 16px;
  }
}
@media (width > 1280px) {
  .section__container {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
